*{
    padding:0;
    margin: 0;
    text-decoration:none;
    list-style: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
nav{
    height: 80px;
    width: 100%;
    background: #34495e;
}

label.logo{
    display:inline-block flex;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition:.5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height:80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}
@media(max-width: 980px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    
}
@media (max-width: 980px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left:-100%;
        text-align:center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border:none;
        color:#3498db;
    }
    nav ul.show{
        left:0;
    }
}

div {
    text-align: center;
}
section{
    background: url("2.jpg") no-repeat;
    background-size: cover;
    width: cover;
    height: 100vh;
}

table{
    border-collapse: collapse;
}

caption{
    display:none;
}

.board_list-warp{
    padding:50px;
}
.board_list{
    width:100%;
    border-top: 2px solid green;
}

.board_list a{
    color: black;
    
}
.board_list tr{
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td{
    text-decoration-color: black;
    padding:10px;
    font-size: 14px;
}

.board_list td{
    text-align: center;
}

.board_list .tit{
    text-align:left;
}

.board_list .tit:hover{
    text-decoration: underline;
}

.board_list-wrap .paging{
    margin-top: 10px;
}

#paging a{
    color: black;
}

.board_list_wrap .paging a{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color:black;
}

.board_list_wrap .paging a:first-child{
    margin-left: 0;

}
.board_list_wrap .paging a.bt{
    border: 1px solid #eee;
    background: #eee;
}
.board_list_wrap .paging a.num{
    border: 1px solid #000;
    font-weight: 600;
}
.board_list_wrap .paging a.num.on{
    background: green;
    color:#fff;
}
.board_list_wrap h1{
    text-size-adjust: 50px;
    color: black;
}